*,
*::before,
*::after {
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: #fff;
  display: block;
}

ul{
  list-style: none;
}

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  color: #fff;
}
/* font-family: 'Forum', cursive; */

.container{
  margin: 0 auto;
  max-width: 1460px;
  padding: 0 10px;
}

.section-title{
  font-family: 'Forum', cursive;
  font-size: 80px;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.gold-title{
  color: #9D8665;
  padding-top: 75px;
  padding-bottom: 25px;
}

.title-undreline{
  border-bottom: 3px solid #710707;
  margin-bottom: 75px;
}

.header,
.welcom,
.explore,
.gallery,
.footer{
  background-color: #030303;
}

.header__inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__list{
  display: flex;
}

.menu__list-item + .menu__list-item{
  margin-left: 55px;
}

.menu__list-link{
  font-weight: 100;
  line-height: 26px;
  letter-spacing: 2px;
}

.logo{
  font-family: 'Forum', cursive;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 31px;
  letter-spacing: 5px;
  padding-left: 74px;
  position: relative;
}

.logo-padding{
  padding-top: 60px;
  padding-bottom: 59px;
}

.logo::before{
  content: '';
  width: 49px;
  height: 26px;
  left: 0;
  position: absolute;
  background-image: url(../assets/svg/logo.svg);
}

.welcom__title{
  padding-top: 150px;
  margin-bottom: 25px;
  width: 598px;
}

.welcom__text{
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  margin-bottom: 75px;
}

.btn{
  max-width: 360px;
  line-height: 26px;
  letter-spacing: 2px;
  padding: 24px 64px;
  background-color: #710707;
  border-radius: 10px;
  margin-bottom: 212px;
  transition: all .5s;
}

.btn:hover{
  background-color: #9D8665;
}

.welcom__inner{
  height: 810px;
  background-image: url(../assets/img/liza.jpg);
  background-repeat: no-repeat;
  background-position: top right;
  position: relative;
}

.slider__inner{
  position: absolute;
  display: flex;
  text-align: center;
  padding: 40px 75px;
  background-color: #030303;
  right: 0;
  bottom: 0;
}

.digits{
  display: flex;
  font-weight: 400;
  margin-right: 55px;
  line-height: 40px;
  text-transform: uppercase;
}

.digits span{
  margin: 0 10px;
}

.squers{
  display: flex;
  margin-right: 50px;
  align-items: center;
}

.squer{
  width: 16px;
  height: 16px;
  background-color: #fff;
  cursor: pointer;
}

.squer-active{
  background-color: #D2B183;
}

.squer + .squer{
  margin-left: 25px;
}

.arrows__btn{
  cursor: pointer;
  background-color: transparent;
  border: none;
}


.cards__inner{
  display: flex;
  flex-wrap: wrap;
  row-gap: 75px;
  column-gap: 60px;
  margin-bottom: 75px;
}

.card__img{
  width: 440px;
  height: 285px;
  margin-bottom: 25px;
}

.card__title{
  font-family: 'Forum', cursive;
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #000000;
  position: relative;
}

.card__title::after{
  content: '';
  position: absolute;
  background-color: #710707;
  width: 300px;
  height: 2px;
  left: 0;
  bottom: 0;
}

.card__text{
  line-height: 26px;
  font-weight: 200;
  margin-bottom: 10px;
  color: #000000;
}


.card__text-min{
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.explore__inner{
  display: flex;
  justify-content: space-between;
  padding: 75px 0;
}

.explore__main{
  margin-right: 60px;
}

.explore h2{
  padding-bottom: 25px;
}

.explore__text{
  margin-bottom: 25px;
}

.explore__text span{
  color: #CAAA7D;
}

.explore__img{
  width: 720px;
  height: 700px;
  padding-top: 15px;
}

.video__top-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 75px;
  margin-top: 75px;
}
.video__top-inner h2 {
  padding: 0;
}
.video__top-text{
  max-width: 720px;
  color: #000000;
}

.main__video{
  width: 1440px;
  height: 650px;
}

.bar{
  display: flex;
  background-color: #000;
  margin-bottom: 40px;
  height: 85px;
  margin-top: -12px;
}

.bar input{
  display: block;
}


.bar__time{
  margin: auto 0;
  padding: 0;
  padding-left: 73px;
  margin-right: 50px;
  margin-left: 30px;
  position: relative;
}

.bar__time::before{
  content: '';
  position: absolute;
  width: 23px;
  height: 31px;
  background-image: url(../assets/svg/play-min.svg);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  
}


.progress1 {
  background: #710707;
  height: 8px;
  width: 929px;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
  margin: 0;
}

.progress1::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #fff;
}

.bar__volume{
  margin: auto 0;
  padding: 0;
  padding-left: 88px;
  padding-right: 85px;
  margin-right: 50px;
  position: relative;
}

.bar__volume::before{
  content: '';
  position: absolute;
  width: 38px;
  height: 31px;
  background-image: url(../assets/svg/volume.svg);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.bar__volume::after{
  content: '';
  position: absolute;
  width: 35px;
  height: 35px;
  background-image: url(../assets/svg/frame.svg);
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.progress2 {
  background: #710707;
  height: 8px;
  width: 155px;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
  margin: 0;
}

.progress2::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #fff;
}

.images{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.video__slider{
  margin-bottom: 70px;
}

.slider__dots{
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__dot + .slider__dot{
  margin-left: 20px;
}

.slider__button{
  font-size: 0;
  background-color: inherit;
  padding: 0;
  border: none;
  width: 12px;
  height: 12px;
  background-color: #999999;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.slider__dot:first-child{
  padding-left: 32px;
  position: relative;
}

.slider__dot:last-child{
  padding-right: 32px;
  position: relative;
}

.slider__button--active{
  background-color: #333333;
}

.slider__dot:first-child::before{
  content: '';
  width: 10px;
  height: 12px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../assets/svg/arr-left.svg);
  cursor: pointer;
}

.slider__dot:last-child::before{
  content: '';
  width: 10px;
  height: 12px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../assets/svg/arr-right.svg);
  cursor: pointer;
}


.gallery h2{
  padding: 75px 0;
}

.gallery__inner {
  -moz-columns: 456px auto;
  -webkit-columns: 456px auto;
  columns: 456px auto;
}

.gallery__item {
  display: inline-block;
  width: 456px;
  margin-bottom: 24px;
  vertical-align: top;
}

.gallery__item:first-child,
.gallery__item:nth-child(9){
  margin-top: 50px;
}

.gallery__img {
  max-width: 100%;
  height: auto;
  display: block;
} 

.tickets h2{
  padding-top: 75px;
}

.tickets__inner{
  color: #000;
  display: flex;
  margin-bottom: 75px;
}

.tickets__img{
  width: 720px;
  height: 550px;
  margin-right: 60px;
}

.tickets__buying{
  display: flex;
  justify-content: space-between;
}

.tickets__radio{
  display: flex;
  flex-direction: column;
  padding-right: 215px;
}

.tickets__title{
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 50px;
  color: #000000;
}

.tickets__label{
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 25px;
  font-size: 22px;
  line-height: 26px;
  width: 270px;
  cursor: pointer;
}

.tickets__label input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.checkmark {
  position: absolute;
  width: 17px;
  height: 17px;
  border: 2px solid #000000;
  border-radius: 50%;
  left: 0;
  top: 3px;
}

.tickets__label input:checked + .checkmark::before{
  content: '';
  width: 7px;
  height: 7px;
  background-color: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.tickets__amount-title{
  margin-bottom: 25px;
}

.tickets__amount p{
  line-height: 26px;
  color: #000000;
  margin-bottom: 15px;
}

.tickets__buttons{
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  border: 3px solid #000000;
  padding: 0;
}

.tickets__buttons button{
  background-color: inherit;
  border: none;
  padding: 0;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  color: #000000;
  padding: 6px 0 6px 14px;
  cursor: pointer;
}

.tickets__buttons .last{
  padding: 0;
  padding: 6px 14px 6px 0;
}

.last__label{
  margin-bottom: 50px;
}


.tickets__buttons input{
  background-color: inherit;
  display: block;
  border: none;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  align-items: center;
  color: #000000;
  padding: 0;
  margin: 0;
}

.tickets__amount {
  margin-left: auto;
  align-items: flex-end;
 
}

.tickets__buttons:last-child{
  margin-bottom: 50px;
}

.tickets__btn{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #FFFFFF;
  border: none;
  border-radius: 2px;
  background-color: #000000;
  padding: 11px 38px;
  width: 178px;
  cursor: pointer;
  transition: all .5s;
}

.tickets__btn:hover{
  background-color: #9D8665;
  color: #000;
}

.tickets__amount{
  display: flex;
  flex-direction: column;
}

.parallax{
  background-image: url(../assets/img/panorama.jpg);
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts__inner{
  color: #000;
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
}

.contacts__title{
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 50px;
}

.contacts__link{
  color: #000;
}

.contacts__item{
  line-height: 26px;
  margin-bottom: 25px;
}

.contacts__map{
  width: 960px;
  height: 620px;
}

.footer__inner{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 87px;
  padding-bottom: 50px;
}

.footer__menu{
  display: flex;
}

.footer__menu-list + .footer__menu-list{
  margin-left: 150px;
}

.footer__menu-item{
  margin-bottom: 25px;
}

.footer__menu-link{
  font-weight: 100;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
}

.icons__list{
  display: flex;
  margin-top: auto;
}

.icons__list img{
  width: 24px;
  height: 24px;
  text-align: center;
}

.icon + .icon{
  margin-left: 25px;
}

.icon__link{
  padding: 10.48px 12px 0 12px;
  border: 1px solid #666666;
  border-radius: 50%;
}

.line{
  border-bottom: 3px solid #666666;
}

.footer__bottom-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

.footer__bottom-text{
  font-weight: 100;
  line-height: 22px;
  letter-spacing: 2px;
  color: #FFFFFF;
}